.button {
    outline: none;
    background-color: white;
    color: #333;
    border: 1px solid #aaa;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 4px;
    margin: 0.75em 0;
    border: 1px solid #333;
    padding: .25em 1em;

    &:hover {
        background-color: #f8f8f8;
    }
}
