.user {
    margin: 0;
    width: 100%;

    button {
        width: 100%;
        margin: 0;
        background-color: transparent;
        color: inherit;
    }

    img {
        max-width: 50px;
        margin-right: 10px;
    }

    &.active button {
        background-color: #f8f8f8;
    }

    &:not(:last-child) {
        border-bottom: 1px solid #eee;
    }
}
